.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1000;
    background-color: transparentize(black, 0.6);

    &.open {
        display: block;
    }
}