@import '../../scss/variables';

.topbar {
    background-color: #4cbcc5;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        height: 60px;
    }

    .left-block,
    .right-block {
        display: flex;
        align-items: center;
    }

    .logo-link {
        display: inline-block;
        margin-right: 10px;
    }

    .title {
        font-weight: 300;
        position: relative;
        text-transform: uppercase;

        .big {
            font-size: 1.5em;
            margin-right: 10px;
        }
    }

    .right-block {
        > * + * {
            border-left: 1px solid transparentize(white, 0.57);
        }
    }
}

.logout-wrapper {
    > button {
        display: flex;
        align-items: center;
        height: 60px;
        background-color: transparent;
        border: 0;
        padding: 0 20px;

        @media (max-width: $screen-xs-max) {
            padding: 0 10px;
        }

        &:focus,
        &:hover {
            background-color: transparentize(white, 0.85);
        }

        > span {
            margin-right: 10px;
        }

        img {
            height: 15px;
            width: auto;
        }
    }
}
